In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
who_data = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/full_data.csv")
who_data.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0